.footer {
  position:relative;
  color:#fff;
  @media(max-width: 959px) {
    margin-top:60px;
    overflow: hidden;
  }
  &__bg {
    width:100%;
    display:block;
    @media(max-width: 959px) {
      position:absolute;
      left:0;
      bottom:0;
      width:auto;
      height:400px;
    }
    @media(max-width: 479px) {
      transform:translateX(-50%);
    }
  }
  &__grid {
    position:absolute;
    left:150px;
    bottom:90px;
    right:150px;
    display:flex;
    justify-content: space-between;
    margin:0 -30px;
    @media(max-width: 959px) {
      margin:0;
      position:relative;
      left:auto;
      bottom:auto;
      right:auto;
      justify-content: center;
    }
  }
  &__info {
    padding:15px 115px;
    background-color:#27ACE0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin:0 auto;
    // width:~"calc(100% - 180px)";
    position:relative;
    z-index:10;
    @media(max-width: 959px) {
      width:100%;
      padding:0;
      flex-wrap: wrap;
      margin-top:30px;
      background-color:transparent;
      flex-direction: column-reverse;
    }
    a {
      display:block;
      font-weight: 700;
      font-size:18px;
      line-height: 1.4;
      img {
        display:block;
        height:32px;
      }
      &:first-child {
        @media(max-width: 959px) {
          margin-top:15px;
          padding:15px 0;
          background-color:#06ABE0;
        }
      }
      &:last-child {
        @media(max-width: 959px) {
          text-decoration: underline;
        }
      }
      @media(max-width: 959px) {
        font-size:16px;
        width:100%;
        text-align: center;
      }
      &+a {
        margin-left: 30px;
        @media(max-width: 959px) {
          margin-left: 0;
        }
      }
    }
  }
  &__cell {
    padding:0 30px;
    width:370px;
    @media(max-width: 959px) {
        width:auto;
        &:not(:nth-child(2)) {
          display:none;
        }
    }
  }
  &__list {
    font-size:18px;
    line-height: 1.5;
    font-weight: 700;
    &_schedule {
      font-weight: 500;
      span {
        font-weight:600;
      }
      b {
        font-weight: 700;
      }
    }
  }
  &__how {
    font-family: @title-font;
    font-size:2vw;
    text-align: center;
    display:block;
    position:relative;
    @media(max-width: 959px) {
      font-size:24px;
      margin-top:130px;
    }
    &:before {
      content:"";
      position:absolute;
      top:0;
      left:50%;
      width:5vw;
      height:8vw;
      background:url(../img/marker.svg) 50% 50% no-repeat;
      background-size:contain;
      transform:translate(-50%,-150%);
      @media(max-width: 959px) {
        width:63px;
        height:86px;
        transform:translate(-50%,-100%);
      }
    }
    &:after {
      content:"";
      position:absolute;
      top:0;
      left:50%;
      width:3vw;
      height:3vw;
      background:url(../img/logo.png) 50% 50% no-repeat;
      background-size:contain;
      transform:translate(-50%,-350%);
      @media(max-width: 959px) {
        width:35px;
        height:35px;
        transform:translate(-50%,-210%);
      }
    }
  }
  &__socials {
    display:flex;
    justify-content: center;
  }
  &__social {
    margin:15px 8px 0 8px;
    position:relative;
    display:inline-block;
    width:44px;
    height:44px;
    border-radius: 50%;
    background-color:#27ACE0;
    &:after {
      font-family: "FontAwesome";
      position:absolute;
      left:50%;
      top:50%;
      font-size:24px;
      transform:translate(-50%,-50%);
    }
    &_vk:after { content:"\f189"; }
    &_fb:after { content:"\f09a"; }
    &_inst:after { content:"\f16d"; }
    &_ok:after { content:"\f263"; }
  }
}
