.menu-wrapper {
  z-index:999;
  position:fixed;
  left:0;
  right:0;
  top:0;
  height:0;
  background-color:white;
  overflow:hidden;
  transition:all 0.2s;
  &.blue {
    background-color:#27ACE0;
  }
  &.orange {
    background-color:#FF861A;
  }
  &.cyan {
    background-color:#4CC1DA;
  }
  @media(max-width: 1300px) {
    background-color:transparent !important;
  }
  &>* {
    position:relative;
    z-index:0;
    transition:all 0.2s;
    transform:translateY(-100%);
  }
  &.js-active {
    height:84px;
    transition:all 0.5s;
    &>* {
      transition:all 0.5s;
      transform:none;
    }
  }
}

.menu {
  z-index:999;
  position:absolute;
  color:#000;
  top:0;
  left:0;
  width:100%;
  a:hover {
    color:#F88011;
  }
  &.contrast {
    color:#fff;
    a:hover {
      color:#ffef52;
    }
  }
  &__grid {
    display:flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 1300px) {
      justify-content: flex-end;
      padding:15px 0;
    }
  }
  &__logo {
    img {
      width:74px;
    }
  }
  &__nav {
    display:flex;
    align-items: center;
    @media(max-width: 1300px) {
      display:none;
    }
  }
  &__link {
    display:inline-block;
    margin-left: 45px;
    line-height: 84px;
    font-size:22px;
    font-weight: 700;
    white-space: nowrap;
    &:first-child {
      margin-left: 0;
    }
  }
  &__navigation {
    margin-left: 45px;
    display:flex;
    font-size:22px;
    font-weight: 700;
    @media(max-width: 1300px) {
      >:first-child {display:none;}
    }
  }
  &__toggle {
    margin-left: 30px;
    display:inline-block;
    width:45px;
    height:45px;
    background-color:#27CAFF;
    border-radius: 50%;
    position:relative;
    @media(max-width: 1300px) {
      margin-left: 0;
    }
    &.blue {
      background-color:#0AB3D7;
    }
    &.orange {
      background-color:#E97000;
    }
    &.dark-orange {
      background-color:#DB6B01;
    }
    &:before,&:after {
      content:"";
      position:absolute;
      left:50%;
      width:21px;
    }
    &:before {
      border-top:2px solid #fff;
      border-bottom:2px solid #fff;
      top:15px;
      bottom:15px;
      transform:translateX(-50%);
    }
    &:after {
      height:2px;
      background-color:#fff;
      top:50%;
      transform:translate(-50%,-50%);
    }
  }
}
