.modal {
  color:white;
  box-sizing: border-box;
  width:100%;
  height:100%;
  background-color:#41CC55;
  padding:90px;
  position:relative;
  display:flex;
  align-items: center;
  transition:background-color 0.6s;
  &__close {
    position:absolute;
    top:30px;
    right:30px;
    width:44px;
    height:44px;
    background-color:rgba(0,0,0,0.12);
    border-radius: 50%;
    &:before,&:after {
      content:"";
      position:absolute;
      height:2px;
      width:21px;
      background-color:white;
      top:50%;
      left:50%;
    }
    &:before { transform: translate(-50%,-50%) rotate(45deg);}
    &:after { transform: translate(-50%,-50%) rotate(-45deg);}
  }
  &__logo {
    position:absolute;
    left:22px;
    top:17px;
    img {
      width:74px;
    }
  }
  &__socials {
    display:flex;
    position:absolute;
    left:30px;
    bottom:30px;
  }
  &__social {
    margin-right: 15px;
    position:relative;
    display:inline-block;
    width:44px;
    height:44px;
    border-radius: 50%;
    background-color:rgba(0,0,0,0.12);
    &:after {
      font-family: "FontAwesome";
      position:absolute;
      left:50%;
      top:50%;
      font-size:24px;
      transform:translate(-50%,-50%);
    }
    &_vk:after { content:"\f189"; }
    &_fb:after { content:"\f09a"; }
    &_inst:after { content:"\f16d"; }
    &_ok:after { content:"\f263"; }
  }
  &__schedule {
    position:absolute;
    right:30px;
    bottom:30px;
    font-weight: 800;
    font-size:18px;
    line-height:1.2;
  }
  &__grid {
    margin-left: -90px;
    display:flex;
  }
  &__cell {
    padding-left: 90px;
    &:first-child {
      width: 200px;
      flex-shrink: 0;
      flex-grow: 0;
      ul {
        font-size:18px;
        line-height: 1.2;
        font-weight: 800;
      }
      ul+ul {
        margin-top:75px;
      }
      li+li {
        margin-top:20px;
      }
      a {
        position:relative;
        display:inline-block;
        &:after {
          content:"";
          position:absolute;
          left:0;
          right:0;
          bottom:0;
          height:2px;
          opacity:0;
          transition:opacity 0.3s;
          background-color:#fff;
          transform:translateY(5px);
        }
        &:hover:after {
          opacity:1;
        }
      }
    }
    &:last-child {
      flex-grow: 1;  flex-shrink: 1;
      position:relative;
    }
  }
  &__img {
    z-index:1;
    position:absolute;
    left:90px;
    top:50%;
    width:100%;
    height:110%;
    transform:translateY(-50%);
    transition:all 0.5s;
    img {
      opacity:0;
      display:block;
      max-width: 100%;
      max-height: 100%;
    }
    img:last-child {
      position:absolute;
      left:0;
      top:0;
    }
    &.active {
      img {
        opacity:1;
      }
      img:first-child {
        animation:appearFirst 0.4s ease;
      }
      img:last-child {
        animation:appearLast 0.5s ease;
      }
    }
  }
  &__title {
    font-size:4vw;
    line-height: 1.4;
    color:rgba(0,0,0,0.12);
  }
}

@keyframes appearFirst {
  from {opacity:0; transform:translateX(10%);}
  to {opacity:1; transform:none;}
}
@keyframes appearLast {
  0% { opacity:0; transform:translateX(5%); }
  50% { opacity:0; transform:translateX(5%); }
  100% {opacity: 1; transform: none; }
}
