@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?j8bhoq');
  src:  url('../fonts/icomoon.eot?j8bhoq#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?j8bhoq') format('truetype'),
  url('../fonts/icomoon.woff?j8bhoq') format('woff'),
  url('../fonts/icomoon.svg?j8bhoq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'PantonBlackCaps';
    src: url('../fonts/PantonBlackCaps.eot');
    src: url('../fonts/PantonBlackCaps.eot') format('embedded-opentype'),
         url('../fonts/PantonBlackCaps.woff2') format('woff2'),
         url('../fonts/PantonBlackCaps.woff') format('woff'),
         url('../fonts/PantonBlackCaps.ttf') format('truetype'),
         url('../fonts/PantonBlackCaps.svg#PantonBlackCaps') format('svg');
}

@font-face {
    font-family: 'SugoProClassicLight';
    src: url('../fonts/SugoProClassicLight.eot');
    src: url('../fonts/SugoProClassicLight.eot') format('embedded-opentype'),
         url('../fonts/SugoProClassicLight.woff2') format('woff2'),
         url('../fonts/SugoProClassicLight.woff') format('woff'),
         url('../fonts/SugoProClassicLight.ttf') format('truetype'),
         url('../fonts/SugoProClassicLight.svg#SugoProClassicLight') format('svg');
}


@title-font:"PantonBlackCaps",arial,sans-serif;
@main-font:"Montserrat",arial,sans-serif;
